@{
    ViewData["Title"] = "Product - Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Created</h2>
<p> Your Product has been successfully submitted!</p>
<a asp-action="Create">Create Another Product</a>
